*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
body{
    background-color: rgb(205, 238, 255);
    width: 100vw;
    overflow-x: hidden;
}




/*               NavBar          */
#MyNavBar{
    position: relative;
    flex-direction: row;
    background-color: rgb(0 170 255);

    width: 100vw;
    height: 12vh;
    min-height: 70px;
    
}
#TitleNavBar{
    display: inline;
    font-size: 3vw;
    text-decoration: none;
    color: blue;
    margin-left: 2vw;
    text-shadow: 3px 1px 2px #000;


}


/*          color picker              */
#ColorPicker{
display: flex;
position: absolute;
top: 3vh;
right: 20px;
}

#ModeChange{
padding: 4px; 
border-radius: 7px;   
}



/*           Text area here               */

#TextArea{   
    width: 80vw;
    height: 50vh;
}
#TextAreaContainer{
    margin-top: 10vh;
    display: flex;
    align-items: center; 
    justify-content: center;   
}
#ButtonConatiner{
     min-height: 100px;

     height: 10vh; 
    display: flex;
    align-items: center; 
    justify-content: center;   
}
#ButtonConatiner>button{
    
    border-radius: 8px;
    padding: 4px;
    cursor: pointer;
    margin-right: 25px;
    margin-left: 25px;

}
#ButtonConatiner>button:hover{
    background-color: rgb(32, 140, 212);
    color: aliceblue;
    border: none;
}

#PreviewArea{

    width: 80vw;
    margin-left: 10vw;
    padding-left: 4px;

}

#PreviewPara{
padding-left: 15px;
padding-right: 15px;


}
#PreviewAreaTitle{
    text-align: left;
}

#TextAnalysis{
    padding-left: 10vw;
}

#TextAnalysis>p{
text-transform: capitalize;
    padding-left: 15px;


}


#notfound{
    display: flex;
    justify-content: center;
    align-items: center;
}